name: repo-sync

on:
  schedule:
    - cron: "0 0 * * *"   # UTC
  workflow_dispatch:       # Allow manual trigger from UI

jobs:
  _1:
    runs-on: ubuntu-latest

    steps:
      - &checkout_manage_repo
        name: Checkout _manage repository
        uses: actions/checkout@v4
        with:
          repository: phan2410/_manage
          token: ${{ secrets._2_1 }}

      - name: Main
        working-directory: ./github/${{ github.workflow }}
        env:
          _1_1: ${{ secrets._1_1 }}
        run: ./${{ github.job }}.sh
  _2:
    needs:
      - _1
    runs-on: ubuntu-latest

    steps:
      - *checkout_manage_repo
      - name: Main
        working-directory: ./github/${{ github.workflow }}
        env:
          _2_1: ${{ secrets._2_1 }}
          _2_2: ${{ secrets._2_2 }}
          _2_3: ${{ secrets._2_3 }}
        run: ./${{ github.job }}.sh